<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="productcreate" xsi:type="object">Puneet\Test\Console\Command\Productcreate</item>
			</argument>
		</arguments>
	</type>
	<type name="Puneet\Test\Model\Test\Fastload">
		<arguments>
			<argument name="Slowload" xsi:type="object">Puneet\Test\Model\Test\Slowload\Proxy</argument>
		</arguments>
	</type>
	<type name="Puneet\Test\Model\Page\PageName">
		<plugin name="testplugin" type="Puneet\Test\Model\Plugin\Name" />
	</type>
</config>
